@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

b {
  --lue: hsl(235, 21%, 11%);
  --lue: hsl(235, 24%, 19%);
  --lue: hsl(234, 39%, 85%);
  --Blue: hsl(236, 33%, 92%);
  --Blue: hsl(234, 11%, 52%);
  --Blue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.app {
  background: white;
}
.dark.app {
  background: hsl(235, 21%, 11%);
}
.content {
  min-height: 100vh;
  background: url(./assets/images/bg-desktop-light.jpg) no-repeat;
  background-size: contain;
  background-position: top center;
}

.dark .content {
  background: url(./assets/images/bg-desktop-dark.jpg) no-repeat;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container header .title {
  color: white;
  letter-spacing: 0.7rem;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  transition: all 0.3s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #cccccc34;
}

.btn:active {
  background: transparent;
}

.btn img {
  height: 20px;
  width: 20px;
}

/* input area */

.container .inputs {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.dark .container .inputs {
  background: hsl(235, 24%, 19%);
}

.check-box {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border-color 0.2s;
  background: transparent;
}

.dark .check-box {
  border-color: hsl(234, 11%, 52%);
}

.check-box:hover {
  border-color: gray;
}

.complete .check-box {
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  position: relative;
}

.complete .check-box::after {
  content: url(./assets/images/icon-check.svg);
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .inputs input {
  flex: 1;
  font-size: 17px;
  padding: 5px;
  outline: none;
  border: none;
  background: transparent;
}

.dark .container .inputs input {
  color: white;
}

.dark .container .inputs input::placeholder {
  color: hsl(234, 11%, 52%);
}

/* todos */

.todos {
  background: #fff;
  margin-top: 30px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.dark .todos {
  background: hsl(235, 24%, 19%);
}

.todos .todo {
  display: flex;
  border-bottom: 1px solid #cccc;
  padding: 15px;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.dark .todos .todo {
  border-bottom-color: hsla(234, 8%, 46%, 0.381);
}

.todo .todo-left {
  display: flex;
  gap: 10px;
}

.todo .todo-left input {
  flex: 1;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
}

.dark .todo .todo-left input {
  color: hsl(234, 39%, 85%);
}

.todo-left.complete input {
  text-decoration: line-through;
  color: #84848497;
}

.dark .todo-left.complete input {
  color: hsl(234, 11%, 52%);
}

.delete-btn {
  width: 26px;
  height: 26px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.delete-btn img {
  width: 15px;
  height: 15px;
}

.todo:hover .delete-btn {
  opacity: 1;
}

.todos-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: hsl(236, 9%, 61%);
  font-size: 0.9rem;
}

.todos-footer .link {
  border: none;
  background: transparent;
  color: hsl(234, 11%, 52%);
  font-size: 0.9rem;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
  text-wrap: nowrap;
}

.dark .todos-footer .link {
  color: hsl(234, 11%, 52%);
}

.todos-footer .link:not(.active):hover {
  color: black;
}

.dark .todos-footer .link:not(.active):hover {
  color: white;
}

.todos-footer .link.active {
  color: rgb(4, 159, 255);
}
/* empty */
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: gray;
}

/* footer */
footer {
  text-align: center;
  margin-top: 30px;
  color: hsl(236, 9%, 61%);
  font-size: 0.9rem;
  margin-bottom: 50px;
}

/* responsive  */
@media (max-width: 373px) {
  .content {
    background: url(./assets/images/bg-mobile-light.jpg) no-repeat;
  }

  .dark .content {
    background: url(./assets/images/bg-mobile-dark.jpg) no-repeat;
  }

  .todos-footer {
    flex-direction: column;
    gap: 15px;
  }

  .container {
    padding-top: 40px;
  }
}

@media (max-width: 470px) and (min-width: 370px) {
  .container header .title {
    color: black;
  }
  .dark .container header .title {
    color: white;
  }
}
